{% load static %}

{% block body %}
{% include 'admin_navigation.html' %}

<title>Change Password - Job Pulse</title>

<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<link rel="stylesheet" href="{% static 'css/change_password.css' %}">

<body>

<script src="{% static 'js/change_password.js' %}"></script>

<div class="password-container">
    <div class="logo">
        <i class="fas fa-key"></i>
        <h1>Change Password</h1>
    </div>

    <div class="welcome-message">
        <h2>Secure Your Account</h2>
    </div>

    <form method="post" name="changepassword" onsubmit="return checkpass()">
        {% csrf_token %}
        
        <div class="form-group">
            <label>Current Password</label>
            <i class='bx bx-lock-alt input-icon'></i>
            <input type="password" class="input-field" name="currentpassword" placeholder="Current Password" required>
        </div>
        
        <div class="form-group">
            <label>New Password</label>
            <i class='bx bx-key input-icon'></i>
            <input type="password" class="input-field" name="newpassword" placeholder="New Password" required>
        </div>
        
        <div class="form-group">
            <label>Confirm Password</label>
            <i class='bx bx-check-circle input-icon'></i>
            <input type="password" class="input-field" name="confirmpassword" placeholder="Confirm Password" required>
        </div>
        
        <button type="submit" class="btn-submit">
            <i class='bx bx-sync'></i> Update Password
        </button>
    </form>
</div>

{% include 'footer.html' %}

</body>

{% if error == "no" %}
<script>
    alert("Password Changed Successfully");
    window.location = ('{% url 'Logout' %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something went wrong, Try Again");
</script>
{% endif %}

{% if error == "not" %}
<script>
    alert("Your Current Password is wrong");
</script>
{% endif %}

{% endblock %}