<html>
<head>
    {% load static %}
    <title>Job Portal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
    
</head>
<body>

<nav class="cosmic-navbar">
    <a href="#" class="navbar-brand">
        <i class="fa-solid fa-user-shield"></i>
        Job Pulse
    </a>

    <div class="menu-toggle" id="mobile-menu">
        <i class="fas fa-bars"></i>
    </div>

    <ul class="nav-menu" id="nav-menu">
        <li class="nav-item">
            <a href="{% url 'index' %}" class="nav-link">
                <i class="fa fa-home"></i>
                <span>Home</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'latest_job' %}" class="nav-link">
                <i class="fas fa-search"></i>
                <span>Latest Jobs</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'user_login' %}" class="nav-link">
                <i class="fas fa-user-tie"></i>
                <span>User Login</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'recuiter_login' %}" class="nav-link">
                <i class="fas fa-briefcase"></i>
                <span>Recruiter Login</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'admin_login' %}" class="nav-link">
                <i class="fas fa-shield-alt"></i>
                <span>Admin Login</span>
            </a>
        </li>
    </ul>
</nav>

<script src="{% static 'js/navigation.js' %}"> </script>

</body>
</html>