{% load static %}

{% block body %}
{% include 'navigation.html' %}

<title>User Login - Job Pulse</title>

<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

{% comment %} <link rel="stylesheet" href="{% static 'css/user_login.css' %}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'css/user_login.css' %}">


<div class="login-container">
    <div class="logo">
        <i class="fas fa-user-tie"></i> 
        <h1>Job Pulse</h1>
    </div>

    <div class="welcome-message">
        <h2>Welcome Back, User!</h2>
        <p>Please login to access your account</p>
    </div>

    <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
            <label>Email Address</label>
            <i class='bx bx-envelope input-icon'></i>
            <input type="email" name="uname" class="input-field" placeholder="user@example.com" required>
        </div>
        
        <div class="form-group">
            <label>Password</label>
            <i class='bx bx-lock-alt input-icon'></i>
            <input type="password" name="pwd" class="input-field" placeholder="••••••••" required>
        </div>
        
        <div class="button-container">
            <button type="submit" class="btn-login">
                <i class='bx bx-log-in'></i> Login
            </button>
            <a href="{% url 'user_signup' %}" class="btn-create-account">
                <i class='bx bx-user-plus'></i> Create Account
            </a>
        </div>
    </form>

</div>

{% include 'footer.html' %}

{% if error == "no" %}
<script>
    alert("Login Successful");
    window.location = ('{% url 'user_home' %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Invalid Login Credentials");
</script>
{% endif %}

{% endblock %} 